*{
    margin:0;
    padding:0;
}
body{
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin:0;
    line-height: 1.6;
    color:rgb(202, 10, 154);
}
#bgground{
    background-image: url('group1.jpg');
    background-size: cover;
    background-position: center;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0 20px;
}
#bgground h1{
    font-size: 50px;
    line-height: 1.2;
}
#bgground p{
    font-size: 20px;
}
#bgground .button{
    font-size: 20px;
    text-decoration: none;
    color:#4c3992;
    border:#e00c8f 1px solid;
    background: #c982ae;
    padding:10px 20px;
    border-radius: 10px;
    margin-top:20px;
}
#bgground .button:hover{
    background: rgb(216, 170, 170);
    color:#fff;
}
#section-a{
    background: #7e9998;
    padding:20px;
    color:#fff;
    text-align: center;
}